device.name=Google Pixel
platform.version=8.0
platform=ANDROID
app=/Users/oscartejera/Downloads/Wikipedia_org.wikipedia.apk
app_url=bs://c65b210f473e0c63ec15116d00820c9d6164a6be
android.app.package=org.wikipedia
android.app.activity=org.wikipedia.main.MainActivity
appium.server.ip=172.17.0.1
appium.server.port=4444
appium.new.command.timeout=180
appium.timeout=60